Repository derenv/bash-kernel-signer, changes with the labels that .github/labeler.yml gives for each.
All labels: script, config, readme

.github/labeler.yml:

script:
- 'bash-kernel-signer.sh'

config:
- 'keylocations.cfg'

readme:
- 'README.md'

initial labelling workflow creation
  .github/i_labeler.yml
  .github/pl_labeler.yml
  .github/workflows/i_label.yml
  .github/workflows/pl_label.yml
Labels: none

fix workflows
  .github/workflows/i_label.yml
  .github/workflows/pl_label.yml
Labels: none

updated for kernel location in config file, moved checks to before main loop to account for this
  bash-kernel-signer.sh
  keylocations.cfg
Labels: script, config

removed workflows
  .github/i_labeler.yml
  .github/pl_labeler.yml
  .github/workflows/i_label.yml
  .github/workflows/pl_label.yml
Labels: none

added ability to create new keys in the various forms specified in Sakaki's guide
  README.md
  bash-kernel-signer.sh
Labels: script, readme

added links to Sakaki's guide for installing new keys to keystore
  README.md
  bash-kernel-signer.sh
Labels: script, readme

added sanity checks for grub-zutomizer and mainline-gtk
  bash-kernel-signer.sh
Labels: script

update readme for custom kernels
  README.md
Labels: readme

fixed broken sanity check, privileges were wrong for checking existance of command
  bash-kernel-signer.sh
Labels: script

added check to display signed status next to signed kernels
  bash-kernel-signer.sh
Labels: script

modified menu to use sign check for all items
  bash-kernel-signer.sh
Labels: script

fix menu to display items properly with new scanning system
  bash-kernel-signer.sh
Labels: script

shellcheck corrections
  bash-kernel-signer.sh
Labels: script

added correct checks+output if no keys are present
  bash-kernel-signer.sh
  keylocations.cfg
Labels: script, config

fixed broken key creation process, made filenames clearer
  bash-kernel-signer.sh
Labels: script

fixed broken key creation process, added clarifying output for config file completion by user
  bash-kernel-signer.sh
Labels: script

fix signing menu error
  bash-kernel-signer.sh
  keylocations.cfg
Labels: script, config

fix application calls
  bash-kernel-signer.sh
Labels: script

added config file to ignore - this should be generated by script and modified by user
  .gitignore
Labels: none

added creation of new config file if missing
  bash-kernel-signer.sh
Labels: script

added sanity check to config file creation
  bash-kernel-signer.sh
Labels: script

finish config removal from repo
  keylocations.cfg
Labels: config

Update README.md
  README.md
Labels: readme

Update README.md
  README.md
Labels: readme

added code of conduct
  code_of_conduct.md
Labels: none

fix code of conduct
  code_of_conduct.md
Labels: none

added apache licence 2.0
  bash-kernel-signer.sh
Labels: script

key creation now updates config file; config file now re-imported and checked after key creation; changed output signed kernel style slightly
  bash-kernel-signer.sh
Labels: script
